<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Tabla pescados</title>
</head>

<body>
    <div class="container-fluid">
        <header class="pb-3 pt-3 text-center text-white background-color">
            <h1>Pescaderia Candi</h1>
        </header>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm background-color navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" th:href=@{/}>Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
				</button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                        
                        <li class="nav-item">
                            <a class="nav-link" href="privates/catalogo.html" th:href="@{/private/catalogo}">Catálogo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-1">
                        <li sec:authorize="!isAuthenticated()">
                            <a class="btn btn-danger" href="login.html" th:href="@{/login}">Login</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div style="padding-top: 20px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;"></div>
                <div style="padding-top: 20px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;"></div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Subtotal</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr th:each="element : ${products.entrySet()}">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#">
                                        <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;" th:src="${element.key.imagen}" /> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><span th:text="${element.key.nombre}">Product name</span></h4>
                                        <h5 class="media-heading"> by pescaderiaCandy.com</h5>

                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input class="form-control" id="inputQuantity" value="3" th:value="${element.value}" type="text" />
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong th:text="${element.key.precio}">$4.87</strong></td>


                            <td class="col-sm-1 col-md-1 text-center"><strong th:text="${element.key.precio * element.value}">$14.61</strong></td>
                            <td class="col-sm-1 col-md-1">

                                <a>
                                    <button type="button" class="btn btn-danger">
                                        <i class="bi bi-eraser"></i>Eliminar
                                    </button>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <h3>Total</h3>
                            </td>
                            <td class="text-right">
                                <h3><strong th:text="${total_carrito}">100€</strong></h3>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn btn-default" th:href="@{/private/catalogo}">
                                   <i class="bi bi-cart"></i>Continuar Comprando
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">
                                    Checkout <i class="bi bi-caret-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>