<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Principal</title>
</head>

<body>
    <div class="container-fluid">
        <header class="pb-3 pt-3 text-center text-white background-color">
            <h1>Pescaderia Candi</h1>
        </header>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm background-color navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" th:href=@{/}>Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
				</button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="private/carrito.html" th:href="@{/private/carrito}">Carrito</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-1">
                        <li sec:authorize="!isAuthenticated()">
                            <a class="btn btn-danger" href="login.html" th:href="@{/login}">Login</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <h2>Catálogo</h2>
                <form action="#" th:action="@{search}" th:object="${searchForm}" method="post">
                    <input type="text" name="nombre" placeholder="Buscar por nombre" th:field="*{search}">
                    <button class="btn btn-danger" type="submit" style="padding: 4px;">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <div class="col-md-3 col-sm-6" th:each="producto : ${productos}" style="height: 550px;">
                    <span class="thumbnail">
                        <img th:src="${producto.imagen}" src="https://s12.postimg.org/41uq0fc4d/item_2_180x200.png" alt="..."
                            class="img-responsive" height="150px" />
                        <h4><span th:text="${producto.nombre}">Nombre del producto</span></h4>
                    <p><span th:text="${producto.descripcion}">Una descripción algo más larga del producto, para que al
                                menos pueda ocupar más de una línea.</span>.</p>
                    <hr class="line" />
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="price"><span th:text="${producto.precio}">23,99€</span></p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <a href="/productoACarrito/" th:href="@{/productoACarrito/{id}(id=${producto.id})}">
                                <button type="button" class="btn btn-primary">
                                        Comprar
                                    </button>
                            </a>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>