<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Detalle</title>
</head>

<body>
    <div class="container-fluid">
        <header class="pb-3 pt-3 text-center text-white background-color">
            <h1>Pescaderia Candi</h1>
        </header>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm background-color navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" th:href=@{/}>Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
				</button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="admin/tabla_producto.html" th:href="@{/admin/tablaProducto}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privates/catalogo.html" th:href="@{/private/catalogo}">Catálogo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-1">
                        <li sec:authorize="!isAuthenticated()">
                            <a class="btn btn-danger" href="login.html" th:href="@{/login}">Login</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="trend-w3layouts">
                <div class="container" style="margin-bottom: 3%;">
                    <h2>Detalle</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/400x400" alt="" th:src="${#strings.isEmpty(producto.imagen)} ? 'http://placehold.it/350x260' : ${producto.imagen}" class="img-responsive imagen" />
                    </div>
                    <div class="col-md-8">
                        <h1 class="product-name" th:text=${producto.nombre}>Nombre del producto
                        </h1>
                        <div class="product-price">
                            <div class="row">
                                <div class=col-md-4>
                                    <span class="precio" th:text="${producto.descuento == 0} ? ${#numbers.formatCurrency(producto.precio)} : ${#numbers.formatCurrency(producto.precio * (1 - producto.descuento))}">100€</span>
                                </div>
                                <th:block th:if="${producto.descuento > 0}">
                                    <div class="col-md-3 precio-no-discounted">
                                        <span th:text="${#numbers.formatCurrency(producto.precio)}">120€</span>
                                    </div>
                                    <div class="col-md-3 discount">
                                        <span class="label-discount">Descuento </span> <span class="label label-danger" th:text=${#numbers.formatPercent(producto.descuento,1,0)}>12%</span>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Características</h3>
                    <p th:text="${producto.descripcion}">Descripción</p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>